.tb{
	display: inline-block;
	margin: 10px;
	padding: 10px 15px;
	background-color: #ecf0f1;
	border: 1px #bdc3c7 solid;
	border-bottom: 3px #95a5a6 solid;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Oswald;
	font-weight: 200;
	font-size: 18pt;
	line-height: 100%;
}
.tb:active{padding-top: 12px;}

.tb-besar{width: 300px; height: 30px;}
.tb-kecil{width:50px; height: 30px; font-size: 14pt;padding: 5px 0px; margin: 0}
.tb-full{width: 100%;}
.tb-biru{background-color: #3498db; border: 1px #2980b9 solid; border-bottom: 3px #225C84 solid;}
.tb-biru:active{background-color: #34495e;}
.tb-biru:hover{background-color: #2980b9;}

.tb-toska{background-color: #1abc9c; border: 1px #16a085 solid; border-bottom: 3px #16a085 solid;}
.tb-toska:active{background-color: #34495e;}
.tb-toska:hover{background-color: #16a085;}

.tb-merah{background-color: #e74c3c; border: 1px #c0392b solid; border-bottom: 3px #c0392b solid;}
.tb-toska:active{background-color: #d35400;}
.tb-toska:hover{background-color: #f1c40f;}


.in-teks{
	width: 80%;
	height: 40px;
	margin: 5px 0;
	background-color: #FFF; 
	border: 1px #bdc3c7 solid; 
	border-radius: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
	font-family: 'Roboto'; 
	color: #303030; 
	text-align: left; 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}
.in-teks-full{width: 100%;}
.in-teks:focus{background-color: #DDFFF9;}
.in-teks-normal{height: 50px;padding: 5px 10px; font-size: 16pt; }
.in-teks-besar{height: 60px;padding: 5px 10px; 	font-size: 24pt; box-shadow: 3px 2px rgba(0,0,0,0.3);}

.tabel{padding: 0; margin: 0; width: 100%; border-collapse: collapse;}
.tabel tr, .tabel th, .tabel td{border: 1px #16a085 solid;}
.tabel td, .tabel th {margin: 10px; padding: 3px;}
.tabel th{background-color: #1abc9c; color: #FFF; text-align: center; font-family: Oswald;font-size: 18pt;}
.tabel td{padding: 10px; background-color: #FFF; color: #303030; text-align: center; font-family: "Roboto Condensed";font-size: 14pt;}